/* Your tabs CSS code here */
.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tab {
  opacity: 0.6;
  padding: 10px;
  color: #444;
}

.tab:hover {
  opacity: 0.8;
}

.active {
  opacity: 1;
  border-bottom: 2px solid #444;
}

.active:hover {
  opacity: 1;
}